[submodule "just-to-do-it-api"]
	path = just-to-do-it-api
	url = git@github.com:sivayogasubramanian/just-to-do-it-api.git
[submodule "just-to-do-it-frontend"]
	path = just-to-do-it-frontend
	url = git@github.com:sivayogasubramanian/just-to-do-it-frontend.git
